bokeh
coverage
cython
future
h5py
holoviews
ipykernel
ipython
ipyparallel
jupyter
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
spyder
tensorflow==2.4.1
tifffile
tk
tqdm
yapf
