av
bokeh
coverage
cython
h5py
holoviews
ipykernel
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow
torch
torchvision
tifffile
tk
tqdm
yapf
zarr
