coverage
cython
future
h5py
ipykernel
ipython
ipyparallel
jupyter
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow-gpu==2.2.0
tensorflow-addons==0.10.0
tifffile
tk
tqdm
yapf
