av
coverage
cython
future
h5py
ipykernel
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
scikit-image
scikit-learn
scipy
tensorflow
tensorflow-addons
tifffile
tk
tqdm
traitlets<5.10
yapf
