bokeh
coverage
cython
future
h5py
holoviews
ipykernel
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb==1.1
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow-gpu==2.2.0
tensorflow-addons=0.10.0
tifffile
tk
tqdm
yapf
