bokeh
coverage
cython
future
h5py
holoviews
ipykernel==4.10
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow==2.0.0
tifffile==0.15.1
tk
tqdm
yapf
