bokeh<=2.4.2
holoviews<=1.15.2
panel<=0.14.4
pandas<=2.0.1
coverage
cython
h5py
holoviews
ipykernel
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow
tifffile
tk
tqdm
yapf
